@import './default.scss';

.flexbox {
  display: flex;
}

.demo-container {
  margin-top: 30px;
  width: 75%;

  border: 1px solid red;
  padding: 4px;
}



.widget {
  background: linear-gradient(to bottom,#f5fcff 0,#fff 100%);

  header {
    padding: 5px 10px;
    color: #FFF;
    border: 1px solid #C2C2C2;
    background-color: #4c4f53;
  }

  .content {
    color: #333;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 5px 10px;
  }
}
