body, html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
}

.toolbar {
  height: 40px;
  border-bottom: 1px solid #DFDADA;
  background-color: #f0f0f0;
}

.center {
  margin: auto;
}
