doctype
html
  head
    title ngWidget
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1 user-scalable=0 maximum-scale=1.0")
    
    link(rel="stylesheet" href="css/bundle.css")            
    script(src="js/bundle.js")
                              
  body(ng-app="demoapp" ng-cloak)
    div.toolbar
      
      
    div.flexbox.center.demo-container
      ng-widget.widget
        h1 hello
